.announcements-container {
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.social-medias {
  margin-top: 2em;
  margin-bottom: 2em;
}

.link-name {
  color: white;
  margin-top: '10px';
  cursor: pointer;
}